.product-item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(2, 10, 82);
    border: none;
    border-radius: 15px;
}

.image img {
    height: 100%;
    border-radius: 15px;
}

.product-title-brand-stock-price {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.product-title-brand-stock {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    font-weight: normal;
    margin-left: 10px;
}

.product-price {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    color: yellow;
}

.add-cart button {
    padding: 5px 8px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}