.users {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

h1 {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.9375rem;
  margin-bottom: 1.5625rem; 
}

.checkbox-users {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

label {
  font-size: 0.9375rem;
  color: white;
}