.header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 99;
}

.logo {
    font-size: 45px;
    color: chartreuse;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}