.products-list {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

h1 {
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 21px;
}

h1 span {
    color: yellow;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.page-numbers button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.prev-page, .next-page {
    padding: 5px 12px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    color: black;
    cursor: pointer;
}

